<% layout('layouts/boilerplate') %>

        <h5>ROBOTECH: THE ROLE PLAYING GAME</h5>
        <h1>CHARACTER CREATOR</h1>
        <a href="/campaigns">Get Started</a>
        <!-- TODO: Move image to cloud -->
        <br>
        <img src="imgs/splash.jpg">
