<img src="/imgs/Rick Hunter.jpg" alt="">
<div id="player-info">
    <div id="level-info">
        <h5>Level</h5>
        <h1><%= player.level %></h1>
    </div>
    <div id="name-occupation">
        <h1><%= player.name %></h1>
        <h3><%= player.occupation.name %></h3>
    </div>
</div>
<div id="player-file">
    <div id="attribute-folder" class="folder">
        <p class="folder-title">Attributes</p>
        <div id="skill-folder" class="folder">
            <p class="folder-title">Skills</p>
            <div id="equipment-folder" class="folder">
                <p class="folder-title">Equipment & Money</p>
            </div>
        </div>
    </div>
</div>