
<footer>
    <small>&copy; Copyright <%= new Date().getFullYear() %> Jaxon McNeil - All Rights Reserved. </small>
    <div>
        <a href="/disclaimer">DISCLAIMER</a>
        <a href="/about">ABOUT</a>
    </div>
</footer>