
<nav id="navbar">
    <div>
        <% if (page == "campaign") {%>
            <div id="back-to-campaigns" class="nav-button">
                <a href="/campaigns">CAMPAIGNS</a>
            </div>
            <div id="edit-campaign" class="nav-button">
                <a href="#">EDIT CAMPAIGN</a>
            </div>
        <% } %>
    </div>
    <div id="logo">
            <% if (page != "home") {%>
            <a href="/" >
                ROBOTECH CHARACTER CREATOR
            </a>
        <% } %>
    </div>
    <div>
        <% if (page == "campaign") { %>
            <div id="edit-player" class="nav-button">
                <a href="#">EDIT PLAYER</a>
            </div>
        <% } %>
        <div id="account" class="nav-button">
            <a href="/campaigns">ACCOUNT</a>
        </div>
    </div>
</nav>