

<% if (page !== 'home')  {%>
<nav id="navbar">

    <div id="nav-left">

        <% if (page === "campaign") { %>

            <div id="back-to-campaigns" class="nav-button">
                <a href="/campaigns">CAMPAIGNS</a>
            </div>
        
            <div id="edit-campaign" class="nav-button">
                <a href="#">EDIT CAMPAIGN</a>
            </div>
            
        <% } %>
        

    </div>

    
    <div id="logo">
        <a href="/" >
            ROBOTECH CHARACTER CREATOR
        </a>
    </div>
    

    <div id="nav-right">

        <% if (page == 'suck') {%>
            <div id="edit-player" class="nav-button">
                <a href="#">EDIT PLAYER</a>
            </div>
        <% } %>

        <% if (currentUser)  { %>
            <div id="account" class="nav-button">
                <a href="/campaigns">ACCOUNT</a>
            </div>
            <div id="logout" class="nav-button">
                <a href="/logout">LOGOUT</a>
            </div>
        <% } %>

    </div>
</nav>
<% } %>