<% layout('layouts/boilerplate') %>
<%- include('../partials/navbar', {page: "index", currentUser}) %>

<div id="misc-background">
    <div id="misc-content">
    <h1>404</h1>
        <p>
            I think you're lost...
        </p>
        <%- include('../partials/footer') %>
    </div>
</div>