<% layout('layouts/boilerplate') %>
<%- include('../partials/navbar', {page: "index", currentUser}) %>

<div id="misc-background">
    <div id="misc-content">
    <h1>ABOUT</h1>
        <p>
            Welcome to the Robotech Character Creator! 
            This application was built as a tool for creating characters for 
            the Robotech Role Playing Game by Palladium Books.
            The character creation steps were modelled after 
            <i>Robotech II: The Role-Playing Game - The Sentinels</i> by
            Kevin Siembieda
        </p>
        <p>
            This web app was built by Jaxon McNeil.
            Happy (very) late bday dad!
            See Jaxon's portfolio <a href="#">here</a>.
        </p>
        <%- include('../partials/footer') %>
    </div>
</div>