<% layout('layouts/boilerplate') %>
<%- include('../partials/navbar', {page: "index", currentUser}) %>

<div id="misc-background">
    <div id="misc-content">
    <h1>DISCLAIMER</h1>
        <p>
            This site is not endorsed by Harmony Gold USA, Inc. or Palladium Books and is intended for entertainment purposes only.
            <br><br>
            The offical <i>Robotech</i> site can be found at <a href="https://robotech.com/">robotech.com</a> and the official <i>Palladium Books</i> site can be found at <a href="https://palladiumbooks.com/">palladiumbooks.com</a>
            <br><br>
            <i>Robotech</i>, all names and pictues of <i>Robotech</i> characters, vehicles, and any other <i>Robotech</i> related items are registered trademarks and/or copyrights of Harmony Gold USA, Inc., or their respective trademark and copyright holders.
        </p>
        <%- include('../partials/footer') %>
    </div>
</div>

